name: Publish YOJ

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  validate:
    name: Validate YOJ
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Extract SDK versions
        run: |
          YOJ_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "YOJ_VERSION=$YOJ_VERSION" >> "$GITHUB_ENV"

      - name: Fail workflow if SDK version is snapshot
        if: endsWith(env.YOJ_VERSION, 'SNAPSHOT')
        uses: actions/github-script@v6
        with:
          script: core.setFailed('SNAPSHOT version cannot be published')

      - name: Fail workflow if SDK version is not equal to tag name
        if: format('v{0}', env.YOJ_VERSION) != github.ref_name
        uses: actions/github-script@v6
        with:
          script: core.setFailed('Release name must be equal to project version')

      - name: Download dependencies
        run: mvn $MAVEN_ARGS dependency:go-offline

      - name: Build with Maven
        run: mvn $MAVEN_ARGS package

  publish:
    name: Publish YOJ
    runs-on: ubuntu-latest
    needs: validate

    env:
      MAVEN_ARGS: --batch-mode --no-transfer-progress -Dstyle.color=always

    steps:
      - name: Install gpg secret key
        run: |
          # Install gpg secret key
          cat <(echo -e "${{ secrets.MAVEN_OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import
          # Verify gpg secret key
          gpg --list-secret-keys --keyid-format LONG

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'
          server-id: ossrh-s01
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Publish package
        run: |
          mvn $MAVEN_ARGS -Possrh-s01 -Dgpg.passphrase=${{ secrets.MAVEN_OSSRH_GPG_PASSWORD }} clean deploy
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_OSSRH_TOKEN }}
